<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.algo.mapper.FederationDatasetMapper">
    <resultMap id="federationDatasetMap" type="com.cmcc.algo.entity.FederationDataset">
        <result column="id" property="id"></result>
        <result column="federation_uuid" property="federationUuid"></result>
        <result column="name" property="name"></result>
        <result column="rows" property="rows"></result>
        <result column="size" property="size"></result>
        <result column="type" property="type"></result>
        <result column="updated_at" property="updatedAt"></result>
        <result column="party_id" property="partyId"></result>
    </resultMap>
    
</mapper>